*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.nav{
  display: flex;
  justify-content: space-around;
  padding: 20px 80px 20px 80px;
  align-items: center;
}

.search{
display: flex;
position: relative;
}
.search input{
  width: 230px;
  height: 30px;
  padding-left: 30px;
  background:rgb(247, 244, 244);
  border: none; border-radius: 8px;
}
.search img{
position: absolute;
top: 3px;
left: 5px;
}
ul{
  list-style: none;
  display: flex;
  gap: 30px;
}
.icons{
  display: flex;
  gap: 20px;
  align-items: center;
}
.icons .icon1{
  width: 25%;
  height: 12%;
}
.icons .icon3{
  width: 15%;
  height: 12%;
  
}
.box{
  background: #000;
  color: white;

  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
}
.beyond{
display: flex;
flex-direction: column;

}
.pro{ 
  color: rgb(187, 183, 183);
  font-size: 13px;
  padding-bottom: 8px;
}
.iphone14{
  font-size: 55px;
  font-weight: 100px;
  padding-bottom: 8px;

}
.created{
  color: rgb(187, 183, 183);
  font-size: 13px;
  padding-bottom: 8px;
}
.shop{
  background: #000;
  color: white;
  border: 1px solid white;
  width: 130px;
  height: 35px;
}
.i14{
  width: 400px;
  height: 500px;
}

.advert{
  display: grid;
  grid-template-rows: repeat(2, 250px);
  grid-template-columns: repeat(4, 1fr);
  background:red;
 
}
.grid1{
  background: white;
  grid-column: 1/3;
  display: flex;
}
.grid1 img{
  height: 100%;
  
}
.play{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.play h3{
  font-size: 40px;
  padding-bottom: 8px;
  padding-right: 53px;
}
.play p{
  color: gray;
  font-size: 15px;
  line-height: 25px;
  padding-left: 65px;
  
}
.grid2{
  background:rgb(232, 230, 230);
  grid-column:3/5 ;
  grid-row: 1/3;
  display: flex;
  overflow-x: hidden;
}
.mac{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}
.mac h3{
  font-size: 40px;
  font-weight: 100;
  padding-bottom: 8px;
  padding-right: 90px;

}
.mac p{
  color: gray;
  font-size: 15px;
  line-height: 25px;
  padding-left: 40px; 
}
.mac button{
  width: 35%;
  height: 8%;
  border-radius: 5px;
  border: 1px solid;
  margin: 5px 180px 0px 0px;


}
.grid2 img{
  height: 90%;
  margin-top: 30px;
}
.grid3{
  background:rgb(232, 230, 230);
  grid-row: 2/3;
  display: flex;
}
.grid3 img{ 
  height: 100%;
}
.air{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.air h3{
  font-size: 30px;
  font-weight: 100;
  padding-bottom: 8px; 
  padding-left: 20px;
}
.air p{
  color: gray;
  font-size: 15px;
  line-height: 25px;
}
.grid4{
  background: #191818;
  color: white;
  grid-row: 2/3;
  display: flex;
}
.grid4 img{
  margin-top: 50px;
}
.vision{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.vision h3{
  font-size: 25px;
  font-weight: 100;
  padding: 0px 35px 8px 0px;
}
.vision p{
  color: gray;
  font-size: 15px;
  line-height: 25px;
  padding-left: 10px;
}
.category{
  margin: 50px 150px;
}
.bbi{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.browse{
  font-size: 18px;
  font-weight: 600;
}
.arrow{
  display: flex;
  gap: 20px;
}
.arrow img{
  width: 18%;
}
.gadget{
  display: grid;
  gap: 20px;
  grid-template-rows: repeat(1, 250px);
  grid-template-columns: repeat(6, 1fr);
  background: rgb(248, 247, 247);
  margin: 20px;
}
.gadgetGrid1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:rgb(232, 230, 230);
  border-radius: 10px;
  height: 50%;
}
.gadgetGrid2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:rgb(232, 230, 230);
  border-radius: 10px;
  height: 50%;
}
.gadgetGrid3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:rgb(232, 230, 230);
  border-radius: 10px;
  height: 50%;
}
.gadgetGrid4{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:rgb(232, 230, 230);
  border-radius: 10px;
  height: 50%;
}
.gadgetGrid5{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:rgb(232, 230, 230);
  border-radius: 10px;
  height: 50%;
}
.gadgetGrid6{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:rgb(232, 230, 230);
  border-radius: 10px;
  height: 50%;
}
.sectionArrival{
  margin: 0 150px;
}
.arrival{
  display: flex;
  gap: 30px; 
}
.gadget2{
  display: grid;
  gap: 20px;
  grid-template-rows: repeat(2, 250px);
  grid-template-columns: repeat(4, 1fr);
  margin: 20px;
}
.gadget2Grid1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:rgb(232, 230, 230);
  border-radius : 10px;
}
#white{
  padding-left: 170px;
}
#iphoneblue{
  height: 40%;
  width: 30%;
}
.gadget2 p{
  font-size:10px;
  font-weight: 600;
  text-align: center;
  padding: 7px 0px;
}
.gadget2 h4{
  padding: 7px 0px;
  font-weight: 600;
  font-size: 15px;
}
.gadget2 button{
  background: #000;
  color: white;
  width: 40%;
  height:10%;
  border-radius: 4px;
  border: none;
  font-size: 10px;
}
.gadget2Grid2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:rgb(232, 230, 230);
  border-radius : 10px;
}
#icamera{
  width: 40%;
  height: 40%;
}  
.gadget2Grid3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:rgb(232, 230, 230);
  border-radius : 10px;
}
#swatch{
  width: 40%;
  height: 40%;
}
.gadget2Grid4{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:rgb(232, 230, 230);
  border-radius : 10px;
}
#hset{
  width: 40%;
  height: 40%;
}
.gadget2Grid5{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:rgb(232, 230, 230);
  border-radius : 10px;
}
#gwatch{
  width: 40%;
  height: 40%;
}
.gadget2Grid6{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:rgb(232, 230, 230);
  border-radius : 10px;
}
#gfold{
  width: 40%;
  height: 40%;
}
.gadget2Grid7{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:rgb(232, 230, 230);
  border-radius : 10px;
}
#buds{
  width: 40%;
  height: 40%;
}
.gadget2Grid8{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:rgb(232, 230, 230);
  border-radius : 10px;
}
#ipad{
  width: 40%;
  height: 40%;
}
.gridbanner{
  display: grid;
  grid-template-rows: repeat(1,350px);
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  
  }
  .gridbanner h6{
    font-size: 20px;
    font-weight: 400;
    padding:0px 40px 0px 0px

  }
  .gridbanner p{
    font-size: 13px;
    font-weight: 400;
    padding: 10px 0px 10px 25px;
    color: rgb(132, 129, 129);
  }
.gridbanner button{
  background: white;
  color: black;
  width: 40%;
  height:20%;
  border-radius: 4px;
  border: 1px solid gray;
  font-size: 10px;
  margin: 10px 0px;
  font-weight: 500;
}
.gridbanner1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#g1{
  width: 50%;
  height: 100%;
}
.gridbanner2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:rgb(247, 245, 245);
}
#g2{
  width: 50%;
  height: 100%;
}
.gridbanner3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:rgb(232, 230, 230);   
}
#g3{
  width: 50%;
  height: 100%;
}
.gridbanner4{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #1e1e1e;
  color: white;
}
#g4{
  width: 50%;
  height: 100%;
}

.discountProduct{
  margin: 0 150px;
}
.discount{
display: grid;
gap: 20px;
grid-template-rows: repeat(1, 300px);
grid-template-columns: repeat(4, 1fr);
margin: 20px;
}
.discount p{
  font-size:10px;
  font-weight: 600;
  text-align: center;
  padding: 7px 0px;
}
.discount button{
  background: #000;
  color: white;
  width: 40%;
  height:10%;
  border-radius: 4px;
  border: none;
  font-size: 10px;
  margin-top: 15px;
}
.gridDiscount1{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius : 10px;
  background:rgb(232, 230, 230);
}
#d1{
  height: 40%;
  width: 40%;}
  .gridDiscount2{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius : 10px;
    background:rgb(232, 230, 230)
  }
  .gridDiscount2 h4{
    padding-top: 10px;
  }
#d2{
  width: 40%;
  height: 40%;
}
  .gridDiscount3{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius : 10px;
    background:rgb(232, 230, 230);
  }
  #d3{
    width: 40%;
    height: 40%;
  }
  .gridDiscount4{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius : 10px;
    background:rgb(232, 230, 230);
  }
  #d4{
    width: 40%;
    height: 40%;
  }
  .lower{
    display: flex;
    align-items: center;
    background: #000;
    color: white;
    height: 80vh;
    width:100%   ;
    justify-content: center;
    text-align: center;
    position: relative;
  }
  #big{
    font-size: 40px;
    font-weight: 300;
    margin-top: 20px;
  }
  #fbtn{
    background: #000;
    color: white;
    width: 120px;
    height: 35px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 30px;
  }
  .sales{
    position: absolute;
  }
  #float1{
  margin-bottom: 140px;
  margin-right: 600px;
  height: 50%;  
  }
  #float2{
    margin-top: 50px; 
    margin-right: px;
  }